/*  -------- 
Define Color Variables  
-------- */
:root {
  --white: #fff;
  --dark-mauve: #7a5c58;
  --muted-black: #595959;
  /* orange color that serves as base for transition:font-size: ;*/
  --orange: #e67e22;
  /* From https://www.colorhexa.com/e67e22 */
  --almost-white: #fef9f5;
  --orange-tone-1: #fcefe4;
  --orange-tone-2: #fae5d2;
  --orange-tone-3: #f8dbc1;
  --orange-tone-4: #f6d0af;
  --orange-tone-5: #f4c69d;
  --orange-tone-6: #f2bc8c;
}

/* -------- 
General Styles (MOBILE FIRST)
-------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* Adds smooth scrolling for a more user-friendly experience, so users can see where the page is moving */
  scroll-behavior: smooth;
  /*scroll-padding-top where the user lands to view the section header when clickin on nav links */
  /* https://www.w3schools.com/cssref/css_pr_scroll-padding-top.php */
  scroll-padding-top: 20px;
}

body {
  background-color: var(--almost-white);
  font-family: "Poppins", sans-serif;
  color: var(--muted-black);
}

main {
  padding-bottom: 500px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  max-width: 450px;
  margin: 80px auto;
  animation: fade-in 3s;
}

section:last-child {
  margin-bottom: 300px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

/*  -------- 
Typography  
--------*/

h1,
h2,
h3,
h4,
.subtitle {
  color: var(--dark-mauve);
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2.5em 0 0 0;
}

.subtitle {
  margin-top: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2em;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

p {
  margin: 20px 0;
}

/*  -------- 
Header Section 
--------*/
.header-container {
  animation: changeHues 50s infinite ease-in-out;
  background-size: 500% 500%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  -------- 
Nav Bar 
--------*/
.nav-container {
  padding-top: 40px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.nav-list li {
  font-size: 1.1rem;
}

.nav-list li a {
  text-decoration: none;
  color: var(--muted-black);
  font-weight: 600;
}

.nav-list li a:hover {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}

.art-portrait {
  width: 90%;
  border-radius: 50%;
  object-fit: contain;
}

/*  -------- 
Experience Section 
--------*/

#experience span {
  color: var(--dark-mauve);
}

.job {
  background-color: var(--white);
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}

.title-year {
  display: flex;
  justify-content: space-between;
}

#experience a:hover {
  color: var(--orange);
}

/*  -------- 
Skills Section 
--------*/
/* styling will be inserted later for the Skills section */
/*  -------- 
Projects Section  
--------*/
/* styling will be inserted later for the Projects section */

/*  -------- 
Connect Section  
--------*/

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icons {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.linkedin-icon,
.github-icon {
  /* note have to use font-size instead of width */
  font-size: 50px;
  color: var(--dark-mauve);
  transition: all 0.3s ease-in-out;
}

.linkedin-icon:hover,
.github-icon:hover {
  color: var(--orange);
}

/* -------- 
Keyframes 
-------- */

/* Gradient animation for header-container*/
/* https://www.w3schools.com/cssref/atrule_keyframes.php */
@keyframes changeHues {
  0% {
    background: linear-gradient(
      to bottom,
      var(--orange-tone-3),
      var(--almost-white)
    );
    background-position: 0% 0%;
  }
  20% {
    background: linear-gradient(
      to bottom,
      var(--orange-tone-4),
      var(--almost-white)
    );
    background-position: 20% 20%;
  }
  40% {
    background: linear-gradient(
      to bottom,
      var(--orange-tone-3),
      var(--almost-white)
    );
    background-position: 40% 40%;
  }
  60% {
    background: linear-gradient(
      to bottom,
      var(--orange-tone-5),
      var(--almost-white)
    );
    background-position: 60% 60%;
  }
  80% {
    background: linear-gradient(
      to bottom,
      var(--orange-tone-4),
      var(--almost-white)
    );
    background-position: 80% 80%;
  }
  100% {
    background: linear-gradient(
      to bottom,
      var(--orange-tone-5),
      var(--almost-white)
    );
    background-position: 100% 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
